In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math

In [3]:
db = pd.read_csv('roads_transposed.csv')
db

        road      lrp        lat        lon
0         N1     LRPS  23.706028  90.443333
1         N1    LRPSa  23.702917  90.450417
2         N1    LRPSb  23.702778  90.450472
3         N1   LRP001  23.702139  90.451972
4         N1   LRP002  23.697889  90.460583
...      ...      ...        ...        ...
52205  Z8943   LRP007  22.429499  90.785722
52206  Z8943   LRP008  22.430110  90.776333
52207  Z8943  LRP008a  22.430249  90.774888
52208  Z8943  LRP008b  22.430249  90.774860
52209  Z8943     LRPE  22.430166  90.768916

[52210 rows x 4 columns]

In [14]:
# Create a new column for the position of each LRP, LAT, and LON
db['position'] = db.groupby('road').cumcount() + 1

# Pivot the DataFrame
pivoted_df = db.pivot(index='road', columns='position', values=['lrp', 'lat', 'lon'])

# Flatten the MultiIndex columns and rename them
pivoted_df.columns = [f'{col[0]}_{col[1]}' for col in pivoted_df.columns]

# Reset the index to make 'road' a column again
pivoted_df.reset_index(inplace=True)
pivoted_df

#Reorder the columns to ensure the order is lrp1, lat1, lon1, lrp2, lat2, lon2, etc.
ordered_columns = []
max_position = db['position'].max()
for i in range(1, max_position + 1):
    ordered_columns.extend([f'lrp_{i}', f'lat_{i}', f'lon_{i}'])

# Select the columns in the desired order
pivoted_df = pivoted_df[['road'] + ordered_columns]
pivoted_df

,road,lrp_1,lat_1,lon_1,lrp_2,lat_2,lon_2,lrp_3,lat_3,lon_3,...,lon_1345,lrp_1346,lat_1346,lon_1346,lrp_1347,lat_1347,lon_1347,lrp_1348,lat_1348,lon_1348
0,N1,LRPS,23.706028,90.443333,LRPSa,23.702917,90.450417,LRPSb,23.702778,90.450472,...,92.29825,LRP466c,20.864667,92.298194,LRP467,20.862972,92.298083,LRPE,20.862917,92.298083
1,N101,LRPS,23.454139,91.212861,LRPSa,23.461889,91.212,LRP001,23.462944,91.211806,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,N102,LRPS,23.478972,91.118194,LRPSa,23.481583,91.116777,LRPSb,23.486666,91.113361,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,N103,LRPS,23.957028,91.115528,LRP001,23.961917,91.113611,LRP001a,23.967666,91.111889,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,N104,LRPS,23.009667,91.399416,LRPSa,23.009278,91.39525,LRP001,23.009306,91.389805,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
872,Z8910,LRPS,22.674722,90.408889,LRPSa,22.675916,90.412556,LRP001,22.675583,90.417166,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
873,Z8913,LRPS,22.396083,90.688666,LRPSa,22.393027,90.688944,LRPSb,22.392666,90.689083,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
874,Z8915,LRPS,22.589389,90.619472,LRP001,22.589694,90.62336,LRP001a,22.590027,90.63136,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
875,Z8916,LRPS,22.625499,90.661722,LRPSa,22.623888,90.664167,LRP001,22.620305,90.668999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
876,Z8943,LRPS,22.426444,90.849472,LRPSa,22.426416,90.846833,LRP001,22.425444,90.839861,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN